.Search {
  min-height: 100%;
  button {
    background-color: darkturquoise;
    border:           none;
    color:            white;
    cursor:           pointer;
    margin:           8px 0;
    padding:          12px 20px;
    width:            100%;
    &:focus {
      background-color: teal;
      outline:          none;
    }
    &:hover {
      background-color: teal;
    }
  }
  input[type=search] {
    background-color: darkturquoise;
    border:           none;
    color:            white;
    margin:           8px 0;
    outline:          none;
    padding:          12px 20px;
    width:            100%;
    &:focus {
      background-color: teal;
    }
    &::placeholder {
      color: white;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  .Item {
    align-items:    center;
    display:        flex;
    flex-direction: row;
    padding:        5px 10px;
    transition:     background 0.2s ease;
    .Icon {
      background: teal;
      min-height: 50px;
      min-width:  50px;
    }
    .Content {
      display:        flex;
      flex-direction: column;
      padding-left:   10px;
    }
    &:hover {
      background: lightgray;
      cursor:     pointer;
    }
  }
}