.Search {
  min-height: 100%; }
  .Search button {
    background-color: darkturquoise;
    border: none;
    color: white;
    cursor: pointer;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%; }
    .Search button:focus {
      background-color: teal;
      outline: none; }
    .Search button:hover {
      background-color: teal; }
  .Search input[type=search] {
    background-color: darkturquoise;
    border: none;
    color: white;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    width: 100%; }
    .Search input[type=search]:focus {
      background-color: teal; }
    .Search input[type=search]::placeholder {
      color: white; }
    .Search input[type=search]::-webkit-search-cancel-button {
      display: none; }
  .Search .Item {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    transition: background 0.2s ease; }
    .Search .Item .Icon {
      background: teal;
      min-height: 50px;
      min-width: 50px; }
    .Search .Item .Content {
      display: flex;
      flex-direction: column;
      padding-left: 10px; }
    .Search .Item:hover {
      background: lightgray;
      cursor: pointer; }
