.Search {
  min-height: 100%; }
  .Search button {
    background-color: #333333;
    border: none;
    color: white;
    cursor: pointer;
    margin: 8px 0;
    padding: 12px 20px;
    transition: 0.5s;
    width: 100%; }
    .Search button:focus {
      background-color: darkturquoise;
      outline: none; }
    .Search button:hover {
      background-color: #FFAD17; }
  .Search input[type=search] {
    background-color: #333333;
    border: none;
    color: white;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    transition: 0.5s;
    width: 100%;
    -webkit-appearance: none; }
    .Search input[type=search]:focus {
      background-color: darkturquoise; }
    .Search input[type=search]:hover {
      background-color: #FFAD17; }
    .Search input[type=search]::placeholder {
      color: white; }
    .Search input[type=search]::-webkit-search-cancel-button {
      display: none; }
  .Search .List li {
    padding: 5px 10px; }
    .Search .List li:hover {
      background: #FFAD17;
      cursor: pointer; }
    .Search .List li .List-Content {
      align-items: flex-start;
      flex-direction: column; }
      .Search .List li .List-Content p:nth-child(2) {
        color: #333333; }
