@import "../../core/variables.scss";

.X-Section {
  background: white;
  min-height: calc(100% - 48px);
  overflow:   hidden;
  position:   relative;

  &.Dark {
    background: linear-gradient(to top, #FF6A00, #EE0979);
  }
  &.Light {
    background: linear-gradient(to top, #40C5C0, #1CD8D2);
  }

  hr {
    border:     none;
    border-top: 2px dotted dimgray;
    color:      dimgray;
    margin:     0;
    position:   absolute;
    text-align: center;
    width:      100%;
    //z-index:    $index-x-section-scale;

    &:first-of-type {
      border: none;
    }

    &:after {
      content:   attr(data-content);
      font-size: 1.6rem;
    }
  }

  .Cloud {
    cursor:     pointer;
    position:   absolute;
    width:      70px;
    transition: 0.5s;
    transform:  translate(-35px, -35px);
  }
}

.X-Section-Details {
  background-color: $background-secondary;
  height:           calc(100% - 144px);
  position:         absolute;
  left:             0;
  top:              $navbar-height;
  width:            100%;
  z-index:          $index-x-section-details;
  transition:       left 0.5s;

  .Cloud-Type-Bar {
    align-items:     center;
    border-bottom:   5px solid darkturquoise;
    cursor:          pointer;
    display:         flex;
    flex-direction:  row;
    height:          48px;
    justify-content: space-between;
    width:           100%;

    &.Dark {
      background: $background-secondary;
    }
    &.Light {
      background: $background-primary;

      h5, p { color: white }
    }

    h5 {
      padding-left: 10px;
    }
  }

  .Content {
    padding: 20px;

    .Number-Input {
      width: 100%;
    }

    .Button {
      width: 100%;
    }
  }
}

.Location-Bar {
  align-items:     center;
  display:         flex;
  flex-direction:  row;
  height:          48px;
  justify-content: flex-start;
  width:           100%;

  &.Dark {
    background: $background-secondary;
  }
  &.Light {
    background: $background-primary;

    .Locality {
      h5, p { color: white }
    }
  }

  .Lunar-Phase {
    //animation:   Lunar-Phase-Pulse 2s infinite;
    margin-left: 10px;
    //filter:      drop-shadow(0 0 2px $colour-primary);
    height:      38px;
    transform:   rotate(5deg);
  }

  .Locality {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    padding-left:    10px;

    h5 {
      color:  #7D7D7D;
      margin: 0;
    }

    p {
      color:  #7D7D7D;
      margin: 0;
    }
  }

}

@keyframes Lunar-Phase-Pulse {
  0% {
    filter: drop-shadow(0 0 2px $colour-primary);
  }
  50% {
    filter: drop-shadow(0 0 5px $colour-primary);
  }
  100% {
    filter: drop-shadow(0 0 2px $colour-primary);
  }
}

@media screen and (min-width: $media-query-sm) {
  .X-Section {

    .Cloud {
      width:     100px;
      transform: translate(-50px, -50px);
    }
  }

  .X-Section-Details {
    width: 400px;
  }
}