@import '../../core/variables.scss';

.Settings {
  margin: 20px;

  .Number-Input {
    width: 100%;
  }
}

@media screen and (min-width: $media-query-sm) {
  .Settings {

    .Number-Input {
      width: 280px;
    }
  }
}