@import "../../core/variables.scss";

.Loading {
  align-items:     center;
  display:         flex;
  justify-content: center;
  min-height:      100%;

  .Progress {
    border:        8px solid $colour-primary;
    border-radius: 50%;
    border-top:    8px solid $colour-secondary;
    width:         40px;
    height:        40px;
    animation:     spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}