// Media Queries
$media-query-xs: 480px;
$media-query-sm: 600px;
$media-query-md: 768px;
$media-query-lg: 992px;
$media-query-xl: 1200px;

// Component variables
$navbar-height: 48px;

// Colour variables
$background-primary: rgba(0, 0, 0, 0.8);
$background-secondary: rgba(255, 255, 255, 0.8);
$background-ternary: #F1F1F1;
$colour-primary: #333333;
$colour-secondary: #FFAD17;
$colour-ternary: darkturquoise;

// Z-Indexes
$index-x-section-scale: 100;
