@import "../../core/variables.scss";

.Dashboard {
  display:               grid;
  grid-row-gap:          20px;
  grid-template-columns: 100%;
  grid-template-rows:    min-content;
  justify-items:         center;
  min-height:            100%;

  .Card {
    border-top: 10px solid $colour-primary;
    width:      100%;

    .Content {
      background: white;
      padding:    15px;
    }
  }

  .Location-Card {
    text-align: center;
  }

  .Flight-Card {
    border-top: 10px solid deeppink;

    .Temperature {
      font-weight: 300;
    }

    .Time {
      font-weight: 300;
    }

    .Flight-Rule {
      font-weight: 900;
    }
  }

  .Wind-Card {
    border-top: 10px solid turquoise;

    .Wind-Direction {
      font-weight: 300;
    }

    .Wind-Speed {
      font-weight: 300;
    }
  }
}

@media screen and (min-width: $media-query-md) {
  .Dashboard {
    grid-column-gap:       20px;
    grid-template-columns: 1fr 1fr;
    min-height:            initial;

    .Location-Card {
      grid-column: span 2;
    }
  }
}

@media screen and (min-width: $media-query-xl) {
  .Dashboard {
    grid-template-columns: 1fr 1fr 1fr;

    .Location-Card {
      grid-column: span 3;
    }
  }
}

