.Dashboard {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  justify-items: center;
  margin: 20px; }
  .Dashboard .Card {
    border-top: 10px solid #333333;
    width: 100%; }
    .Dashboard .Card .Content {
      background: white;
      padding: 15px; }
  .Dashboard .Location-Card {
    text-align: center; }
  .Dashboard .Flight-Card {
    border-top: 10px solid deeppink; }
    .Dashboard .Flight-Card .Temperature {
      font-weight: 300; }
    .Dashboard .Flight-Card .Time {
      font-weight: 300; }
    .Dashboard .Flight-Card .Flight-Rule {
      font-weight: 900; }
  .Dashboard .Wind-Card {
    border-top: 10px solid turquoise; }
    .Dashboard .Wind-Card .Wind-Direction {
      font-weight: 300; }
    .Dashboard .Wind-Card .Wind-Speed {
      font-weight: 300; }
    .Dashboard .Wind-Card .Pressure {
      font-weight: 300; }

@media screen and (min-width: 768px) {
  .Dashboard {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr; }
    .Dashboard .Location-Card {
      grid-column: span 2; } }

@media screen and (min-width: 1200px) {
  .Dashboard {
    grid-template-columns: 1fr 1fr 1fr; }
    .Dashboard .Location-Card {
      grid-column: span 3; } }
