.Dashboard .Location-Card {
  text-align: center; }

.Dashboard .Masonry {
  column-count: 1;
  column-gap: 20px;
  min-height: 100%; }
  .Dashboard .Masonry .Card {
    border-top: 10px solid #333333;
    display: inline-block;
    margin: 0 0 20px 0;
    width: 100%; }
    .Dashboard .Masonry .Card .Content {
      background: white;
      padding: 15px; }
  .Dashboard .Masonry .Flight-Card {
    border-top: 10px solid deeppink; }
    .Dashboard .Masonry .Flight-Card .Temperature {
      font-weight: 300; }
    .Dashboard .Masonry .Flight-Card .Time {
      font-weight: 300; }
    .Dashboard .Masonry .Flight-Card .Flight-Rule {
      font-weight: 900; }
  .Dashboard .Masonry .Wind-Card {
    border-top: 10px solid turquoise; }
    .Dashboard .Masonry .Wind-Card .Wind-Direction {
      font-weight: 300; }
    .Dashboard .Masonry .Wind-Card .Wind-Speed {
      font-weight: 300; }

@media screen and (min-width: 600px) {
  .Dashboard .Masonry {
    column-count: 2; } }

@media screen and (min-width: 768px) {
  .Dashboard .Masonry {
    column-count: 3; } }

@media screen and (min-width: 1200px) {
  .Dashboard .Masonry {
    column-count: 4; } }
