/* Define grid areas */
.Main {
  grid-area: main; }

.Header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 0 15px;
  text-align: center; }
  .Header .Logo {
    height: 30px; }
  .Header .Search-icon {
    height: 20px; }
    .Header .Search-icon:hover {
      cursor: pointer; }

.Footer {
  align-items: center;
  background-color: #646464;
  color: #FFFFFF;
  display: flex;
  grid-area: footer;
  justify-content: space-around; }
  .Footer .Item {
    align-items: center;
    background-color: teal;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly; }
    .Footer .Item img {
      height: 20px; }
    .Footer .Item p {
      font-size: 1rem;
      margin: 0; }

.App {
  background: url("./core/assets/isometric-bg.png");
  background-size: cover;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 48px 1fr 48px;
  min-height: 100vh; }

@media screen and (max-width: 600px) {
  .App {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 48px 1fr 48px; } }
