.Main {
  grid-area: main;
  margin:    20px;
}

.Header {
  align-items:      center;
  background-color: rgba(0, 0, 0, 0.8);
  display:          flex;
  grid-area:        header;
  justify-content:  space-between;
  padding:          0 15px;
  text-align:       center;

  .Logo {
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  .Search-icon {
    height: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}

.Footer {
  align-items:      center;
  background-color: transparent;
  color:            #FFFFFF;
  display:          flex;
  grid-area:        footer;
  justify-content:  space-around;

  .Item {
    align-items:      center;
    background-color: rgba(0, 0, 0, 0.8);
    border:           none;
    display:          flex;
    flex:             1;
    flex-direction:   column;
    height:           100%;
    justify-content:  space-evenly;
    transition:       background-color 500ms linear;
    width:            100%;

    &:hover {
      background-color: #4D4D4D;
    }

    &:focus {
      background-color: #FFAD17;
      outline:          none;
    }

    img {
      height: 25px
    }

    p {
      font-size: 1rem;
      margin:    0;
    }
  }
}

.App {
  //background:            url("./core/assets/isometric-bg.png");
  background-color:      #F1F1F1;
  background-size:       cover;
  display:               grid;
  grid-template-areas:   "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows:    48px 1fr 48px;
  min-height:            100vh;
}