@import "./core/variables.scss";

.App {
  //background:            url("./core/assets/isometric-bg.png");
  background-color:      $background-ternary;
  background-size:       cover;
  display:               grid;
  grid-template-areas:   "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows:    $navbar-height 1fr $navbar-height;
  min-height:            100vh;

  main {
    grid-area: main;
  }
}