@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import './core/variables.scss';

html {
  font-size: 62.5%;
}

body {
  background-color: #F4F4F4;
  font-family:      'Roboto', sans-serif;
  margin:           0;
  padding:          0;
}

h1 {
  font-size:   4rem;
  font-weight: 400;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.0rem;
}

h6 {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  color:         $colour-primary;
  font-weight:   500;
  margin-top:    0;
  margin-bottom: 0.5rem;
}

p {
  color:         $colour-primary;
  font-size:     1.6rem;
  font-weight:   300;
  margin-top:    0;
  margin-bottom: 1rem;
}

input {
  box-sizing:  border-box;
  font-family: inherit;
  font-size:   1.6rem;
}

button {
  font-family: inherit;
  font-size:   1.6rem;
}